DOWNLOAD_DIR=fastq
MANIFEST=config/fastqs.template.tsv

SAREK_VERSION=3.9.0
PROFILE=singularity
NEXTFLOW_CONFIG=config/nextflow.example.config
NXF_OPTS='-Xms1g -Xmx4g'
NXF_SINGULARITY_CACHEDIR=cache/singularity

DOWNLOAD_CACHE=true
OUTDIR_CACHE=/path/to/cache
VEP_CACHE=/path/to/cache/vep_cache
SNPEFF_CACHE=/path/to/cache/snpeff_cache

IGENOMES_BASE=s3://ngi-igenomes/igenomes
