process {
    executor = 'slurm'
    queue = 'YOUR_PARTITION'
    time = '48h'
    scratch = true
    
    // Uncomment/adapt in config/nextflow.local.config if required:
    // clusterOptions = '--qos=YOUR_QOS'
    // clusterOptions = '--account=YOUR_ACCOUNT --qos=YOUR_QOS'
    
    withName: /.*SAMTOOLS_STATS/ {
        errorStrategy = 'retry'
        maxRetries = 2
    }

     withName: /.*GATK4_MARKDUPLICATES/ {
        cpus = 6
        memory = '64 GB'
        time = '8h'
        scratch = false
        errorStrategy = 'retry'
        maxRetries = 1
    }
}

executor {
    queueSize = 50
    exitReadTimeout = '10h'
    submitRateLimit = '3 sec'
    perJobMemLimit = false
    perTaskReserve = true
}

singularity {
    enabled = true
    autoMounts = true
}

report {
    enabled   = true
    overwrite = true
}

timeline {
    enabled   = true
    overwrite = true
}

trace {
    enabled   = true
    overwrite = true
}

