process {
    executor = 'slurm'
    queue = 'YOUR_PARTITION'
    clusterOptions = '--qos=3d'
    time = '48h'
    scratch = true

    withName: /.*DEEPVARIANT.*/ {
        cpus = 4
        memory = '32 GB'
        time = '24h'
        maxForks = 2
        errorStrategy = 'retry'
        maxRetries = 1

        beforeScript = '''
            export OMP_NUM_THREADS=1
            export OPENBLAS_NUM_THREADS=1
            export MKL_NUM_THREADS=1
            export NUMEXPR_NUM_THREADS=1
            export TF_NUM_INTRAOP_THREADS=1
            export TF_NUM_INTEROP_THREADS=1
        '''
    }

    withName: /.*VARLOCIRAPTOR_ESTIMATEALIGNMENTPROPERTIES/ {
        cpus = 4
        memory = { 64.GB * task.attempt }
        time = '24h'
        errorStrategy = 'retry'
        maxRetries = 2
        maxForks = 1
    }
    
    withName: /.*SAMTOOLS_STATS/ {
        errorStrategy = 'retry'
        maxRetries = 2
    }
    
    withName: /.*GATK4_MARKDUPLICATES/ {
        cpus = 6
        memory = '64 GB'
        time = '8h'
        scratch = false
        errorStrategy = 'retry'
        maxRetries = 1
    }

    withName: 'VERIFYBAMID2' {
        cpus = 4
        memory = 8.GB
        time = 4.h
    }
}

executor {
    queueSize = 50
    exitReadTimeout = '10h'
    submitRateLimit = '3 sec'
    perJobMemLimit = false
    perTaskReserve = true
}

singularity {
    enabled = true
    autoMounts = true
    pullTimeout = '2 h'
}

report {
    enabled   = true
    overwrite = true
}

timeline {
    enabled   = true
    overwrite = true
}

trace {
    enabled   = true
    overwrite = true
}

profiles {
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
}
